body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

* > a + a {
  margin-left: 20px;
}

div.route {
  margin: 10px 0;
  padding: 10px;
  border: 1px silver solid;
}

nav {
  margin: 10px 0;
}